<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand font-weight-bold"  th:text="${thisUser.getLogin()}"></a>
      <a class="navbar-brand "> with roles: </a>
      <a class="navbar-brand" th:text="${userRoles}"></a>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-left" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-1 bg-white" style="padding-top: 20px; padding-left: 0px; padding-right: 0px; height: 100vh">
        <!--навигация слева-->
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#AllUsers">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#AdminTable">User</a>
          </li>
        </ul>
      </div>
      <div class="col-md-10 bg-light"
           style="padding-top: 20px;
                        height: 100vh">
        <div class="tab-content">
          <!--                    Основная вкладка админа-->
          <div class="tab-pane fade show active" id="AllUsers">
            <h2 class="h2">Admin panel</h2>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#UsersTable">Users table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#NewUser">New User</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="UsersTable">
                <div class="card">
                  <h5 class="card-header">All users</h5>
                  <div class="card-body text-center">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="user : ${users}">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getSurname()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td th:text="${user.getLogin()}"></td>
                        <td th:utext="${#strings.arrayJoin(user.getRoles(), ' ')}"></td>
                        <td>
                          <a class="btn btn-info" role="button" data-toggle="modal" data-target="#modalEdit" th:attrappend="data-target=${user.id}">Edit</a>
                          <!--модальное окно редактирования-->
                          <div class="modal fade" id="modalEdit" th:attrappend="id=${user.id}"
                               tabindex="-1" role="dialog"
                               aria-labelledby="TitleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Edit
                                    user</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal"
                                          aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body offset-sm-4 text-center">
                                  <form class="row g-3" th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                    <div class="row">
                                      <div class="form-group col-xs-12">
                                        <div class="control-group required">
                                          <div class="controls">
                                            <label for="id" class="font-weight-bold">ID<input class="form-control"type="text" id="id" th:value="*{id}" disabled></label>
                                            <h1></h1>
                                            <label th:for="name" class="font-weight-bold">First Name<input class="form-control" type="text" name="name" th:value="*{name}" required></label>
                                            <h1></h1>
                                            <label th:for="surname" class="font-weight-bold">Last Name<input class="form-control" type="text" name="surname" th:value="*{surname}" required></label>
                                            <h1></h1>
                                            <label th:for="email" class="font-weight-bold">Email<input class="form-control" type="text" name="email" th:value="*{email}" required></label>
                                            <h1></h1>
                                            <label th:for="login" class="font-weight-bold">Login<input class="form-control" type="text" name="login" th:value="*{login}" required></label>
                                            <h1></h1>
                                            <label th:for="password" class="font-weight-bold">Password<input class="form-control" type="text" name="password"></label>
                                            <h1></h1>
                                            <label class="font-weight-bold">Role</label>
                                            <div>
                                              <select class="form-control" name="roles" multiple size="2">
                                                <div  th:each="role : ${allRoles}">
                                                  <option th:text="${role.getName()}" th:value="${role.getName()}" name="roles"/>
                                                </div>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="modal-body offset-sm-5">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#modalDelete" th:attrappend="data-target=${user.id}">Delete</a>
                          <!--модальное окно удаления-->
                          <div class="modal fade" id="modalDelete" th:attrappend="id=${user.id}"
                               tabindex="-1" role="dialog"
                               aria-labelledby="TitleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Delete user</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal"
                                          aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body offset-sm-4 text-center">
                                  <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                    <div class="row">
                                      <div class="form-group col-xs-12">
                                        <div class="control-group required">
                                          <label for="id1" class="font-weight-bold">ID</label>
                                          <input class="form-control"type="text" id="id1" th:value="*{id}"disabled>
                                          <label for="name1" class="font-weight-bold">First Name</label>
                                          <input class="form-control" type="text" id="name1" th:value="*{name}" disabled>
                                          <label for="surname1" class="font-weight-bold">Last Name</label>
                                          <input class="form-control" type="text" id="surname1" th:value="*{surname}" disabled>
                                          <label for="email1" class="font-weight-bold">Email</label>
                                          <input class="form-control" type="text" id="email1" th:value="*{email}" disabled>
                                          <label for="login1" class="font-weight-bold">Login</label>
                                          <input class="form-control" type="text" id="login1" th:value="*{login}" disabled>
                                          <label for="login1" class="font-weight-bold">Role</label>
                                          <br>
                                          <select class="form-control" multiple required size="2" disabled>
                                            <div  th:each="role : ${user.getRoles()}">
                                              <option th:text="${role.getName()}" th:value="${role.getName()}"/>
                                            </div>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="modal-body offset-sm-5">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--                            вкладка New User-->
              <div class="tab-pane fade" id="NewUser">
                <div class="form-group col-xs-12">
                  <div class="control-group required">
                    <div class="card">
                      <h5 class="card-header">Add new user</h5>
                      <div class="card-body text-center">
                        <div class="form justify-content-center mx-auto col-md-3">
                          <form th:method="POST" th:action="@{/admin/create}" th:object="${userNew}">
                            <div class="col-md-8">
                              <label th:for="name" class="font-weight-bold">First Name<input class="form-control" type="text" name="name" th:id="name" placeholder="First Name"  required></label>
                              <label th:for="surname" class="font-weight-bold">Last Name<input class="form-control" type="text" name="surname" th:id="surname" placeholder="Last Name"  required></label>
                              <label th:for="email" class="font-weight-bold">Email<input class="form-control" type="text" name="email" th:id="email" placeholder="Email"  required></label>
                              <label th:for="login" class="font-weight-bold">Login<input class="form-control" type="text" name="login" th:id="login" placeholder="Login"  required></label>
                              <label th:for="password" class="font-weight-bold">Password<input class="form-control" type="text" name="password" th:id="password" placeholder="Password"  required></label>
                              <h1></h1>
                              <label class="font-weight-bold">Role</label>
                              <div>
                                <select class="form-control" name="roles" multiple required size="2">
                                  <div  th:each="role : ${allRoles}">
                                    <option th:text="${role.getName()}" th:value="${role.getName()}" name="roles"/>
                                  </div>
                                </select>
                              </div>
                              <h1></h1>
                              <button type="submit" class="btn btn-success">Add new user</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--                    Вкладка юзер для админа-->
          <div class="tab-pane fade" id="AdminTable">
            <h2 class="h2">User information-page</h2>
            <div class="card">
              <h5 class="card-header">About user</h5>
              <div class="card-body text-center">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user, state : ${thisUser}">
                    <td th:text="${thisUser.getId}"></td>
                    <td th:text="${thisUser.getName()}"></td>
                    <td th:text="${thisUser.getSurname()}"></td>
                    <td th:text="${thisUser.getEmail()}"></td>
                    <td th:text="${thisUser.getLogin()}"></td>
                    <td th:utext="${#strings.arrayJoin(thisUser.getAuthorities(), ' ')}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
</body>
</html>